<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#">Navbar</a></logo>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Features</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Basic dropdown<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
              </div>
          </li>

      </ul>
      <!-- Links -->

<!-- Search form -->
      <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form mt-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </div>
      </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<form >
 

  
  <select class="mdb-select" >
    <option value="" disabled selected>Choose your country</option>
    <option value="1">USA</option>
    <option value="2">Germany</option>
    <option value="3">France</option>
    <option value="4">Poland</option>
    <option value="5">Japan</option>
</select>
<div >
    <div>
        <mdb-select [options]="optionsSelect" placeholder="Choose your option"></mdb-select>
        <label>Example label</label>
    </div>
</div>

<div>
    <table [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5" [mfSaveRowsOnPage]="true" (mfSelectedEntities)="setSelectedEntities($event)">
        <thead>
            <tr>
                <th>
                    <mfRowSelectorHead></mfRowSelectorHead>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="name" [mfShowSortableArrows]="true">Name</mfDefaultSorter>
                </th>
                <th style="width: 50%">
                    <mfDefaultSorter by="email">name</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="age">username</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="city">id</mfDefaultSorter>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data; let ndx = index">
                <td><mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector></td>
                <td>{{item.name}}</td>
                <td>{{item.username}}</td>
                <td>{{item.id}}</td>
               
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">NENEA</th>
        <th scope="col">NMARA</th>
        <th scope="col">NMAYA</th>
        <th scope="col">NJULA</th>
        <th scope="col">NSETA</th>
        <th scope="col">NNOVA</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
                <div class="md-form col-md-4 ">
                        <input mdbInputDirective type="text" id="formCodmapa" class="form-control" 
                          data-success="correcto">
                          
                      </div>
                      <div class="md-form col-md-4 ">
                            <input mdbInputDirective type="text" id="formCodmapa" class="form-control" 
                              data-success="correcto">
                              
                          </div>
        
        </td>
        <td>
                <div class="md-form col-md-4 ">
                        <input mdbInputDirective type="text" id="formCodmapa" class="form-control" 
                          data-success="correcto">
                          
                      </div>
        
        </td>
        <td>
                <div class="md-form col-md-4 ">
                        <input mdbInputDirective type="text" id="formCodmapa" class="form-control" 
                          data-success="correcto">
                          
                      </div>
        
        </td>
        <td>
                <div class="md-form col-md-4 ">
                        <input mdbInputDirective type="text" id="formCodmapa" class="form-control" 
                          data-success="correcto">
                          
                      </div>
        
        </td>
        <td>
                <div class="md-form col-md-4 ">
                        <input mdbInputDirective type="text" id="formCodmapa" class="form-control" 
                          data-success="correcto">
                          
                      </div>
        
        </td>
        <td>
                <div class="md-form col-md-4 ">
                        <input mdbInputDirective type="text" id="formCodmapa" class="form-control" 
                          data-success="correcto">
                          
                      </div>
        
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob

        </td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</form>